@charset "utf-8";

//精灵图宽高设置方法
@mixin sprite-size($sprite,$element,$unit:'px'){
    $w:sprite-width($sprite,$element,'px');
    $h:sprite-height($sprite,$element,'px');
    @if $unit == 'rem'{
        $w:sprite-width($sprite,$element,'rem');
        $h:sprite-height($sprite,$element,'rem');
    };
    
    width:$w;
    height:$h;
};

//精灵图背景坐标获取方法
@mixin sprite-position($sprite,$element,$unit:'px',$offectX:0,$offectY:0){    
    $x:- sprite-x($sprite,$element,'number') + $offectX + 0px;
    $y:- sprite-y($sprite,$element,'number') + $offectY + 0px;
    
    @if $unit == 'rem'{
        $x:rem(- sprite-x($sprite,$element,'number') + $offectX);
        $y:rem(- sprite-y($sprite,$element,'number') + $offectY);
    };
    background-position:$x $y;
};

//精灵图资源
@mixin sprite-url($sprite,$addedPath:'../'){
    $url:map-url($sprite,$addedPath);
    background-image:url($url);
};