extends _defaultPage

block link
    link(rel="stylesheet", href="./css/style.css")

block body
    

block script
    script(src="./js/scaleToWindow.js")
    script(src="./js/pixi.min.js")
    script(src="./js/main.js")
